.container-header {
  height: 62px;
  border-bottom: solid rgba(0,0,0,.1) 1px;
  position: relative;
}
.container-header {
  a:hover, a:focus, a:active {
    text-decoration: none;
  }

  .menu {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
  }

  .menu li {
    display: inline;
    margin-left: 20px;
    cursor: pointer;
  }

  .menu li>a {
    color: #6D6E7A;
    font-size: 14px;
  }

  .menu .active {
    background-color: #4B71FC;
    color: #FFFFFF;
    padding: 8px 12px 8px 12px;
    border-radius: 30px;
  }
  .menu .active a {
    color: #FFFFFF;
  }
}

.container-footer {
  background-color: #2B2935;
  padding: 0 32px 16px;
}
.container-footer {
  .bgInfo {
    float: left;
    padding-right: 30px;
    color: #FFFFFF;
  }
  .bgInfo ul >li:first-child {
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 10px;
  }
  .bgInfo ul >li {
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
  }

  .support {
    margin-top: 18px;
    margin-bottom: 20px;
    float: right;
  }
  .support {
    span {
      padding-right: 5px;
      display: inline-block;
      vertical-align: middle;
      margin: 2px 0;
      color: #FFFFFF;
    }
    a {
      font-size: 13px;
      color: #464646;
      width: 44px;
      height: 27px;
      background-image: url("./../../../dist/img/collections/iconft.png");
      background-repeat: no-repeat;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      display: inline-block;
      vertical-align: middle;
      margin: 2px 0;
      padding: 0;
    }
    .fs-ftr-vs {
      background-position: 0 0;
    }
    .fs-ftr-mt {
      background-position: -48px 0;
    }
    .fs-ftr-atm {
      background-position: -97px 0;
    }
  }

  .fs-ftr3 {
    float: right;
  }
  .fs-ftr3 {
    a {
      display: inline-block;
      height: 40px;
      background-image: url("./../../../dist/img/collections/iconft.png");
      background-repeat: no-repeat;
      margin: 2px 0;
      padding: 0;
    }

    .fs-ftr-cthuong {
      width: 127px;
      background-position: 0 -32px;
    }
    .fs-ftr-dmca {
      width: 92px;
      background-position: -137px -32px;
    }
    .fs-ftr-sp {
      width: 84px;
      background-position: -235px -32px;
    }
    .fs-ftr-thieuvn {
      width: 92px;
      background-position: -327px -32px;
    }
  }

  .social {
    margin-top: 30px;
  }
  .social {
    span {
      color: #FFFFFF;
      font-size: 12px;
      margin-right: 10px;
    }
    span:last-child {
      float: right;
    }
    @media screen and (max-width: 768px){
      span:last-child {
        float: left;
        margin-top: 10px;
      }
    }
  }
}