/**
 * Created by Lotus on 4/21/17.
 */
.container-slider {
    margin-top: 90px !important;
}

@media screen and (max-width: 1200px) {
.container-slider {
        margin-top: 60px !important;
    }
}

.container-banner-slider {
  .carousel-cell {
    width: 100%; /* full width */
  }
  .flickity-bg-lazyloaded {
    background-position: center;
    height: 320px;
  }
  .flickity-page-dots {
    bottom: 5px;
  }

  .flickity-page-dots .is-selected {
    background-color: #be1e2d !important;
  }
}

body .dropdown >button {
  background-color: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-shadow: none;
  box-shadow: none;
}

.open .dropdown-toggle .btn-default {
  background-color: transparent;
}

.open .btn-group .dropdown-menu {
  min-width: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0;
}

.thumbnail {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

hr {
  margin: 0;
}

button {
  background-image: none;
  box-shadow: none;
  border: none;
}